<h2 id="title">Welcome to Ember</h2>

{{outlet}}

{{input type="text" value=fullName size="50"}}
{{input type="text" value=country size="50"}}
<button {{action 'addPlace'}}>Add Place</button>

<br>
{{#each places as |place|}}
  {{place.fullName}}
  {{place.country}}
  <br>
{{/each}}
